<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="quiz portal">
    <title>Contact Us - Brand</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/simple-line-icons.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/untitled.css') }}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="index.html" style="color:#d460d6;font-weight:bold;font-style:normal;font-family:Akronim, cursive;letter-spacing:5px;line-height:46px;font-size:40px;">QCorp</a><button class="navbar-toggler" data-toggle="collapse"
                data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1" style="font-size:18px;">
                <ul class="nav navbar-nav ml-auto" style="font-size:25px;">
                    <li class="nav-item" role="presentation" style="font-size:27px;"><a class="nav-link active" href="index.html" style="font-size:17px;">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="features.html" style="font-size:17px;">Features</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="about-us.html" style="font-size:17px;">About Us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="contact-us.html" style="font-size:17px;">Contact Us</a></li>
                    {% if loggedin==False %}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="login.html" style="background-color:#f9f9f9;font-size:17px;">Login</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="registration.html" style="font-size:17px;background-color:#00e0ff;color:rgba(20,0,255,0.5);">Register</a></li>
                    {% else %}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="profile.html" style="background-color:#f9f9f9;font-size:17px;">Welcome, {{ user }}</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/logout" style="font-size:17px;background-color:#ff0000;color:rgba(255,255,255,0.5);">LOG OUT</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                {% if msg=='success' %}
                <div class="block-heading">
                    <h2 class="text-success">Submitted!</h2>
                    <p>Your valuable feedback has been submitted. We will reach you out soon on email provided by you.</p>
                </div>
                {% else %}
                <div class="block-heading">
                    <h2 class="text-info">Contact Us</h2>
                    <p>Send your valuable feedback here. we will read all the feedback and reply to your email asap. For business related queries you can contact us at annaraykalashetty1999@gmail.com</p>
                </div>
                <form action="/feedback" method="post">
                    <div class="form-group"><label>Name</label><input class="form-control" type="text" name="name"></div>
                    <div class="form-group"><label>Subject</label><input class="form-control" type="text" name="sub"></div>
                    <div class="form-group"><label>Email</label><input class="form-control" type="text" name="email"></div>
                    <div class="form-group"><label>Message</label><textarea class="form-control" name="msg"></textarea></div>
                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Send</button></div>
                </form>
                {% endif %}
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="registration.html">Sign up</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="contact-us.html">Contact us</a></li>
                        <li><a href="about-us.html">Reviews</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2020 Copyright&nbsp;</p>
        </div>
    </footer>
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/theme.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bs-animation.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
</body>

</html>