<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="quiz portal">
    <title>Quiz Annaray</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/simple-line-icons.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/untitled.css') }}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="index.html" style="color:#d460d6;font-weight:bold;font-style:normal;font-family:Akronim, cursive;letter-spacing:5px;line-height:46px;font-size:40px;">QCorp</a><button class="navbar-toggler" data-toggle="collapse"
                data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1" style="font-size:18px;">
                <ul class="nav navbar-nav ml-auto" style="font-size:25px;">
                    <li class="nav-item" role="presentation" style="font-size:27px;"><a class="nav-link active" href="index.html" style="font-size:17px;">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="features.html" style="font-size:17px;">Features</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="about-us.html" style="font-size:17px;">About Us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="contact-us.html" style="font-size:17px;">Contact Us</a></li>
                    {% if loggedin==False %}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="login.html" style="background-color:#f9f9f9;font-size:17px;">Login</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="registration.html" style="font-size:17px;background-color:#00e0ff;color:rgba(20,0,255,0.5);">Register</a></li>
                    {% else %}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="profile.html" style="background-color:#f9f9f9;font-size:17px;">Welcome, {{ user }}</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/logout" style="font-size:17px;background-color:#ff0000;color:rgba(255,255,255,0.5);">LOG OUT</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Choose as per your preference</h2>
                    <h5>Various categories and difficulty levels are available.</h5>
                    <h5>Set the number of questions you want to solve and Start quiz.</h5>
                    <div class="row justify-content-center">
                        <div class="col">
                            <div></div>
                        </div>
                        <div class="col">
                            <div>
                                <form action="/startquiz" method='post'>
                                    <div style="padding:11px;">
                                        <select name='subject' id='sub' class="btn btn-primary btn-block">
                                            <option value="Subject">Subject</option>
                                            <option value="maths">Maths</option>
                                            <option value="science">Science</option>
                                            <option value="gk">G K</option>
                                        </select>
                                    </div>
                                    <div style="padding:11px;">
                                        <select name='diflevel' id='dif' class="btn btn-primary btn-block">
                                            <option value="diflevel">Difficulty Level</option>
                                            <option value="ez">Easy</option>
                                            <option value="med">Medium</option>
                                            <option value="hard">Hard</option>
                                        </select>
                                    </div>
                                    <div style="padding:11px;">
                                        <select name='noofqstns' id='noofqstns' class="btn btn-primary btn-block">
                                            <option value="noq">Number of questions</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                        </select>
                                    </div>
                                    <div style="padding:11px;">
                                        <button class="btn btn-success active btn-lg" type="submit">Start Test</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col">
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="registration.html">Sign up</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="contact-us.html">Contact us</a></li>
                        <li><a href="about-us.html">Reviews</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2020 Copyright&nbsp;</p>
        </div>
    </footer>
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/theme.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bs-animation.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
</body>

</html>